@import "./fonts.css";
* {
    box-sizing: border-box;
    outline: 0 none transparent;
    border: 0 none transparent;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    position: relative;
}

:root {
    --white: white;
    --black: black;
    --dark: rgb(25,25,25);
    --dark-translucent: rgb(25,25,25,.6);
    --light: rgb(230,230,230);
    --light-translucent: rgba(230,230,230,.8);
    --orange: rgb(190,120,0);
    --dark-border-color: rgb(40,40,40);
    --outline-color: rgb(90,90,90);
    --text-dark: rgb(130,130,130);
    --text-darker: rgb(200,200,200);

    --title: "Oswald", var(--sans-serif);
    --serif: "Playfair Display", "Source Serif Pro", 'Times New Roman', Times, serif;
    --sans-serif: "Poppins", "DM Sans", Arial, Helvetica, sans-serif;
}

html {
    font-family: var(--sans-serif);
    scroll-behavior: smooth;
    overflow: hidden;
}

html.loaded {
    overflow: auto;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.5rem);
    z-index: 10;
}

main {
    overflow: hidden;
}

p {
    line-height: 1.2;
    margin-bottom: 1rem;
}

figure {
    border-radius: .5rem;
    width: 100%;
    max-width: 320px;
    min-width: 240px;
    margin: 1rem .5rem;
}

figcaption {
    backdrop-filter: blur(.5rem);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    border: .25rem solid var(--dark-border-color);
}




#three {
    position: fixed;
    z-index: 1;
}

.dg.ac {
    z-index: 1001;
}

#root {
    position: relative;
    z-index: 2;
}

.js-tilt-glare {
    border-radius: .5rem;
}

.nav-wrapper {
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.nav-wrapper:first-child span {
    display: block;
    max-width: 156px;
    overflow: hidden;
    transition: .4s;
}

.nav-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    max-width: 320px;
    overflow: hidden;
    transition: .4s;
}

.nav-logo {
    transition: .4s;
}

.nav-toggler {
    height: 100%;
    padding: .5rem;
    margin-left: 1rem;
    background-color: transparent;
    border: 0 none transparent;
    display: none;
}

.nav-toggler:hover {
    box-shadow: 0 0 0 transparent;
    border: 0 none transparent;
    background-color: transparent;
    
}

.nav-toggler div {
    height: .25rem;
    width: 32px;
    background-color: var(--light);
    border-radius: .25rem;
    margin-left: auto;
    transition: .2s;
}

.nav-toggler:hover div {
    background-color: var(--orange);
    box-shadow: 0 0 1rem var(--orange);
    
}

.nav-toggler div:not(:last-of-type) {
    margin-bottom: .25rem;
}

.nav-toggler:hover div:nth-of-type(2) {
    width: 24px;
}

.nav-toggler:hover div:last-of-type {
    width: 16px;
}
   

.nav-logo:hover {
    color: var(--orange);
    filter: drop-shadow(0 0 1rem var(--orange));
}

@media only screen and (max-width: 720px) {
    .nav-toggler {
        display: block;
    }

    .nav-bar {
        max-width: 0px;
        opacity: 0;
    }
}

@media only screen and (max-width: 432px) {
    .nav-wrapper:first-child span {
        max-width: 0px !important;
        opacity: 0;
        margin-right: 0;
    }
}





#loader {
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    color: var(--outline-color);
}

#loader.done {
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

#loader > div {
    width: 20%;
    min-width: 160px;
}

#loader > div > svg {
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    animation: pulse 4s linear 0s infinite forwards;
}

@keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 1; }
    75% { filter: drop-shadow(0 0 1rem currentColor); opacity: 1; }
    100% { filter: drop-shadow(0 0 0 transparent); opacity: 0; }
}

#loader > div > div {
    width: 100%;
    padding: .25rem;
    border-radius: 1rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-color: black;
    transition: 2s;
}



#hero {
    height: calc(100vh - 76px);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

#hero h1 {
    margin-left: 1rem;
}

#hero h1, #hero p {
    filter: drop-shadow(-.5rem .5rem .5rem rgba(0, 0, 0, .6));
}

@media only screen and (max-width: 1280px) {
    #hero > div {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 800px) {
    #hero > div > div > p {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 608px) {
    #hero > div > p {
        font-size: 1rem;
    }

    #hero > div > div > h1 {
        margin-left: .5rem;
    }

    #hero > div > div > p {
        letter-spacing: -.5rem;
        font-size: 6rem;
    }
}

@media only screen and (max-width: 496px) {
    html {
        font-size: 14px;
    }

    #hero > div > div {
        margin: 2rem auto;
    }

    #hero > div > div > p {
        font-size: 4rem;
    }

    #about {
        min-height: 100vh;
        padding-top: 67px;
    }

    #projects {
        min-height: calc(100vh - 67px);
    }

    #contact > svg {
        height: 67px;
    }
}

@media only screen and (max-width: 356px) {
    #hero > div > div > p {
        font-size: 4rem;
    }
}



@media only screen and (max-width: 420px) {
    #about .fs-larger, #projects .fs-larger, #contact .fs-larger {
        font-size: 4rem;
    }
}



#about {
    min-height: 100vh;
    padding-top: 76px;
}

#about #name::after {
    content: " ";
    display: inline-block;
    background-color: var(--orange);
    height: 1rem;
    width: calc(100% - 76px);
    transform: translateY(1px);
    border-radius: 0 .25rem 0 0;
}

#about > div:nth-of-type(3) > div:last-of-type {
    padding-left: 2rem;
}

#about figure {
    transform-style: preserve-3d;
    perspective: 1000px;
}

#about figure a {
    transform: translateZ(64px);
}

#about figure > figcaption {
    transform: translateZ(32px);
}



@media only screen and (max-width: 880px) {
    #about > div:nth-of-type(3) > div:last-of-type {
        padding-left: 0;
    }
}






#player button {
    background-color: var(--dark-translucent);
    backdrop-filter: blur(.5rem);
    border: 0 none transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;

}

#player .progress {
    flex: 1;
    margin: 0 1rem;
    padding: .25rem;
    border: 1px solid var(--outline-color);
    border-radius: 1rem;
    height: fit-content;
    background-color: var(--dark-translucent);
    backdrop-filter: blur(.5rem);
    background-image: linear-gradient(var(--orange),var(--orange));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: .2s;
    will-change: background-size;
    overflow: hidden;
}

#player .progress:hover {
    box-shadow: 0 0 .5rem var(--orange);
}

#player .progress > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light);
    opacity: .5;
    height: 100%;
    width: 0;
    will-change: width;
    pointer-events: none;
}

#player .duration {
    font-size: .6rem;
    width: 72px;
    font-family: 'Roboto Mono';
    font-weight: 500;
}






#about .social-wrapper {
    background-color: rgb(25,25,25,.6);
    backdrop-filter: blur(.5rem);
    padding: 1rem .5rem;
    margin-bottom: 1rem;
}

#about .social {
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#about .social a {
    will-change: color;
    transition: .4s;
}

#about .social a:hover {
    color: var(--orange);
}






#projects {
    padding-top: 76px;
    min-height: calc(100vh - 76px);
}

#projects > div:first-of-type > h2::after {
    content: " ";
    background-color: var(--orange);
    height: 1rem;
    width: 100%;
    display: block;
    border-radius: .25rem;
}

#projects .project-wrapper {
    padding: 1rem 0 0;
}

#projects figure {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: initial;
    min-width: initial;
    margin: initial;
}

#projects figure {
    margin-bottom: 2rem;
}

#projects figcaption {
    position: relative;
    flex: 0 1 512px;
    border: 0 none transparent;
    background-color: transparent;
    backdrop-filter: initial;
}

#projects figure.right figcaption > div:first-of-type {
    flex-direction: row-reverse;
}

#projects figcaption > p {
    width: calc(100% + 256px);
    background-color: var(--light-translucent);
    backdrop-filter: blur(.25rem);
    position: relative;
    z-index: 5;
    color: var(--dark);
    box-shadow: -.5rem .5rem 2rem rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

#projects figure:not(.right) figcaption > p {
    border-radius: 0 .25rem .25rem 0;
}

#projects figure.right figcaption > p {
    position: relative;
    z-index: 5;
    left: -256px;
    border-radius: .25rem 0 0 .25rem;
}

#projects figcaption .palette:not(:last-of-type) {
    padding-bottom: .5rem;
}

#projects figcaption .palette div {
    flex-grow: 1;
    padding: .5rem;
    border: 2px solid var(--light);
    border-radius: 2rem;
}

#projects figcaption .palette div:not(:last-of-type) {
    margin-right: .5rem;
}

#projects figcaption svg {
    flex: 0 1 48px;
    fill: currentColor;
    height: 32px;
    width: 32px;
}

#projects figcaption .links {
    display: flex;
}

#projects figure:not(.right) figcaption .links {
    flex-direction: row-reverse;
}

#projects figcaption .links > a {
    display: flex;
    transition: .4s;
}

#projects figcaption .links > a:hover {
    color: var(--orange);
}

#projects figcaption .links > a > svg {
    flex: 0 1 48px;
    fill: currentColor;
    height: 1.25rem;
    width: 1.25rem;
}

#projects figure:not(.right) figcaption svg {
    margin-right: .5rem;
}

#projects figure.right figcaption svg {
    margin-left: .5rem;
}

#projects .img {
    height: 400px;
    display: flex;
    flex: 1 1 640px;
    overflow: hidden;
    transition: .4s;
}

#projects figure:hover .img {
    transform: scale(.95);
}

#projects img {
    height: 100%;
    width: 100%;
    transition: .4s;
    object-fit: cover;
    object-position: center;
}

#projects figure:hover img {
    transform: rotate(5deg) scale(1.2);
}

#projects hr {
    width: 45%;
    background-color: var(--light);
    height: 1px;
    margin: 1rem;
}

@media only screen and (max-width: 720px) {
    #projects figure {
        flex-direction: column;
        background-color: #282828;
        margin-bottom: 1rem !important;
    }

    #projects figure:not(.right) {
        flex-direction: column-reverse;
    }

    #projects figure:not(.right) figcaption .links {
        flex-direction: row;
    }

    #projects .img {
        aspect-ratio: 16 / 9;
        flex: initial;
        height: auto;
        min-width: initial;
        max-width: 100%;
        min-height: 192px;
        max-height: 400px;
        transform-origin: bottom;
    }

    #projects figcaption {
        flex: 0 0;
    }

    #projects figure.right figcaption {
        text-align: left;
    }

    #projects figure.right figcaption > div:first-of-type {
        flex-direction: row;
    }

    #projects figcaption > p {
        width: 100%;
    }

    #projects figure.right figcaption > p {
        position: static;
    }
}





#contact {
    color: var(--dark);
}

#contact > svg {
    height: 78px;
    width: 100%;
    fill: rgba(230,230,230,.8);
    display: flex;
}

#contact > div {
    background-color: rgba(230,230,230,.8);
}



footer {
    background-color: rgb(245,245,245);
    color: var(--outline-color);
    border-top: 1px solid #e5e5e5;
}

footer .social > a {
    display: inline-block;
    transition: .4s;
}

footer .social > a:not(:last-of-type) {
    margin-right: 1.5rem;
}

footer .social > a:hover {
    color: var(--orange);
}

footer .social > a > svg {
    fill: currentColor;
}



.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(1rem);
    opacity: 0;
    pointer-events: none;
    transition: .4s ease-out;
    z-index: 30;
}

.menu-backdrop.open {
    opacity: 1;
    pointer-events: all;
}

.menu {
    position: absolute;
    background-color: rgba(25,25,25,.8);
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 320px;
    display: flex;
    right: -320px;
    flex-direction: column;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.2);
    transition: .4s ease-out;
}

.menu-backdrop.open .menu {
    right: 0;
}

.menu-header {
    padding: .5rem;
}

.menu-close {
    padding: .5rem .75rem;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: .5rem;
}

.menu-close:focus, .menu-close:active {
    border: 2px solid transparent;
}

.menu-body {
    margin-bottom: 1rem;
}

.menu-body a {
    display: block;
    padding: 1rem;
    font-family: var(--serif);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-body a:active {
    background-color: var(--orange);
}

.menu .social {
    display: flex;
    justify-content: center;
}

.menu .social > a {
    display: inline-block;
    transition: .4s;
}

.menu .social > a:not(:last-of-type) {
    margin-right: 1.5rem;
}

.menu .social > a:hover {
    color: var(--orange);
}

.menu .social > a > svg {
    fill: currentColor;
    height: 1.25rem;
    width: 1.25rem;
}







.typed {
    line-height: 1;
}

.typed > .cursor {
    display: inline-block;
    padding-left: 0 !important;
    background-color: var(--light);
    transform: translateY(.5rem);
    margin-left: .25rem;
    width: 2px;
    height: 2.25rem;
    border-radius: 1px;
    animation: blink .6s linear infinite alternate;
}

.typed > .sentence {
    line-height: 1;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}



#submit span {
    display: block;
}

#submit .spinner {
    display: none;
}

#submit.submitting span {
    display: none;
}

#submit.submitting .spinner {
    display: block;
}



.spinner {
    height: 1.8rem;
    width: 1.8rem;
    border: .25rem solid var(--light);
    border-left: .25rem solid transparent;
    border-radius: 50%;
    animation: spin .4s ease-in-out 0s infinite forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.collapse {
    height: 0;
    overflow: hidden;
    transition: .6s;
}

.collapse-toggle button {
    background-color: transparent;
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 2rem;
    border: 2px solid var(--light);
    justify-content: center;
    transition: .2s;
}

.collapse-toggle button:active, .collapse-toggle button:focus {
    border-radius: 2rem;
}

.collapse-toggle button.open svg {
    transform: rotate(180deg);
}

.scrolling-banner {
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.5rem);
    padding: 0 0 1rem 0;
}

.scrolling-banner > p {
    font-size: 5rem;
    animation: scroll 24s linear 0s infinite forwards;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}



.ratings > div {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}

.ratings > div > div {
    display: flex;
    flex: 1 1;
}

.rating {
    flex: 1 1;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.rating > div {
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    background-color: rgb(60,60,60);
    border-radius: 2rem;
    width: fit-content;
    padding: .25rem 1rem;
    z-index: 5;
    bottom: calc(-100% + 1.25rem);
    transition: .2s;
}

.rating > div::before {
    position: absolute;
    top: -.4rem;
    left: 50%;
    height: 0;
    width: 0;
    content: " ";
    border-top: .5rem solid rgb(60,60,60);
    border-right: .5rem solid rgb(60,60,60);
    transform: rotate(-45deg) translateX(-50%);
}

.rating.show > div {
    opacity: 1;
}

.rating > svg {
    min-height: 1.5rem;
    max-height: 2rem;
    height: 100%;
    width: auto;
    fill: currentColor;
    transition: .4s;
}

.rating:hover > svg {
    color: var(--orange);
    filter: drop-shadow(0 0 1rem var(--orange));
}

.bg-95 {
    background-size: 95% 100%;
}

.bg-85 {
    background-size: 85% 100%;
}

.bg-80 {
    background-size: 80% 100%;
}

.bg-75 {
    background-size: 75% 100%;
}

.bg-70 {
    background-size: 70% 100%;
}

.bg-65 {
    background-size: 65% 100%;
}

.bg-60 {
    background-size: 60% 100%;
}

.bg-55 {
    background-size: 55% 100%;
}






#hero, #hero .left-intro, #hero .right-intro,
.scrolling-banner, .qual-head, #about .head,
#projects h2, #projects figure, .typed {
    will-change: opacity, transform;
}

#qualifications figure {
    will-change: transform;
}

.rating-bg, #loader>div>div {
    will-change: background-size;
}






.path-sm {
    height: 4rem;
}






button, .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title);
    text-decoration: none;
    color: inherit;
    border: 2px solid var(--light);
    padding: .5rem 1rem;
    transition: .2s;
}

button:hover, .btn:hover {
    color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0 0 1rem var(--orange);
}

button:active, button:focus, .btn:active, .btn:focus {
    outline: .25rem solid var(--outline-color);
    border-radius: .25rem;
}

.btn-solid {
    border: 0 none transparent;
    background-color: var(--orange);
    color: var(--white);
}

.btn-solid:hover {
    color: var(--orange);
    border: 0 solid transparent;
    box-shadow: 0 0 1rem var(--orange);
}

.btn-solid:hover {
    color: var(--white);
}

.btn-l {
    font-size: 1.2rem;
    min-width: 128px;
}






.indent::before {
    content: " ";
    margin-left: 4rem;
}






.bgc-light {
    background-color: var(--light);
    color: var(--dark);
}

.bgc-uh {
    background-color: #203232;
    color: #00B9E4;
}

.bgc-t-dark {
    background-color: var(--dark-translucent);
}






.h-100 {
    height: 100%;
}



.w-content {
    width: fit-content;
}

.mw-0 {
    max-width: none;
}

.mw-1 {
    max-width: 1600px;
}

.mw-2 {
    max-width: 1440px;
}

.mw-3 {
    max-width: 1280px;
}

.mw-4 {
    max-width: 1024px;
}

.mw-5 {
    max-width: 880px;
}

.mw-6 {
    max-width: 720px;
}






.va-center {
    vertical-align: middle;
}






.br-2 {
    border-radius: .5rem;
}

.br-50 {
    border-radius: 50%;
}



.bb-2 {
    border-bottom: 2px solid var(--orange);
}






.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}


.f-column {
    flex-direction: column;
}



.f-wrap {
    flex-wrap: wrap;
}



.fg-1 {
    flex-grow: 1;
}



.col-2 {
    flex: 1 1 50%;
}



@media only screen and (max-width: 880px) {
    .col-2 {
       flex: 1 1 100%;
    }
}



.row {
    flex-wrap: wrap;
}

.row-2 {
    display: flex;
}

.row-2 > div {
    flex: 1 1;
}

@media only screen and (max-width: 420px) {
    .row-2 {
        flex-direction: column;
    }
}



form button {
    margin: .5rem .5rem .5rem auto;
}

.input-float {
    position: relative;
    display: flex;
}

.input-float > label {
    position: absolute;
    padding: .5rem 0 .5rem 1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color:rgb(150,150,150);
    user-select: none;
    transition: .2s;
}

.input-float > input {
    flex: 1 1;
    margin: .25rem .25rem;
    padding: 1.25rem .75rem .5rem;
    border-radius: .5rem;
    transition: .2s;
}

.input-float > input:not(:focus) {
    cursor: context-menu;
}

.input-float > input:focus {
    outline: .25rem solid rgb(150,150,150);
}

.input-float input:focus ~ label,
.input-float input:-webkit-autofill ~ label,
.input-float input:not(:placeholder-shown) ~ label {
    transform: translateY(0);
    top: 0;
    font-weight: 500;
    font-size: .7rem;
}

.input-float textarea {
    flex: 1 1;
    margin: .25rem .25rem;
    padding: 1.25rem .75rem .5rem;
    border-radius: .5rem;
    resize: none;
    height: 8rem;
    transition: .2s;
}

.input-float > textarea:not(:focus) {
    cursor: context-menu;
}

.input-float > textarea ~ label {
    position: absolute;
    padding: .5rem 0 .5rem 1rem;
    top: 0;
    left: 0;
    transform: translateY(0);
    color:rgb(150,150,150);
    user-select: none;
    transition: .2s;
}

.input-float > textarea:focus ~ label,
.input-float textarea:not(:placeholder-shown) ~ label {
    top: 0;
    font-weight: 500;
    font-size: .7rem;
}



.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}



.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}






.text, .nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-family: var(--serif);
    margin-right: .5rem;
    padding: .5rem 1rem;
    background-image: linear-gradient(var(--orange), var(--orange));
    background-repeat: no-repeat;
    background-size: 2px 100%;
    transition: background-size .2s,box-shadow .2s .2s;
}

.nav-link:hover {
    background-size: 100% 100%;
    color: var(--white);
}

.text-dark {
    color: var(--text-dark);
}

.text-darker {
    color: var(--text-darker);
}

.text-orange {
    color: var(--orange);
}

.title {
    font-family: var(--title);
}

.serif {
    font-family: var(--serif);
}

.sans-serif {
    font-family: var(--sans-serif);
}

.fs-normal {
    font-size: normal;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.titlecase {
    text-transform: capitalize;
}

.ws-nowrap {
    white-space: nowrap;
}





.ta-center {
    text-align: center;
}

.ta-end {
    text-align: end;
}






.fs-large {
    font-size: 10rem;
}

.fs-larger {
    font-size: 6rem;
}

.fs-6 {
    font-size: .8rem;
}

.fs-5 {
    font-size: 1rem;
}

.fs-4 {
    font-size: 1.2rem;
}

.fs-3 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 1.8rem;
}

.fs-1 {
    font-size: 2.2rem;
}






.lh-0 {
    line-height: .8;
}

.lh-1 {
    line-height: 1;
}

.lh-2 {
    line-height: 1.2;
}

.lh-3 {
    line-height: 1.4;
}





.ls-1 {
    letter-spacing: -1rem;
}

.ls-2 {
    letter-spacing: -.5rem;
}






.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}







.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}



.p-0 {
    padding: 0;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 2rem;
}

.p-6 {
    padding: 3rem;
}



.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: .25rem;
}

.pt-2 {
    padding-top: .5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 2rem;
}

.pt-6 {
    padding-top: 3rem;
}



.pe-0 {
    padding-right: 0;
}

.pe-1 {
    padding-right: .25rem;
}

.pe-2 {
    padding-right: .5rem;
}

.pe-3 {
    padding-right: 1rem;
}

.pe-4 {
    padding-right: 1.5rem;
}

.pe-5 {
    padding-right: 2rem;
}

.pe-6 {
    padding-right: 3rem;
}



.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: .25rem;
}

.pb-2 {
    padding-bottom: .5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 2rem;
}

.pb-6 {
    padding-bottom: 3rem;
}



.ps-0 {
    padding-left: 0;
}

.ps-1 {
    padding-left: .25rem;
}

.ps-2 {
    padding-left: .5rem;
}

.ps-3 {
    padding-left: 1rem;
}

.ps-4 {
    padding-left: 1.5rem;
}

.ps-5 {
    padding-left: 2rem;
}

.ps-6 {
    padding-left: 3rem;
}



.m-0 {
    margin: 0;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 2rem;
}

.m-6 {
    margin: 3rem;
}



.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}



.mt--1 {
    margin-top: -.25rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 2rem;
}

.mt-6 {
    margin-top: 3rem;
}



.me-0 {
    margin-right: 0;
}

.me-1 {
    margin-right: .25rem;
}

.me-2 {
    margin-right: .5rem;
}

.me-3 {
    margin-right: 1rem;
}

.me-4 {
    margin-right: 1.5rem;
}

.me-5 {
    margin-right: 2rem;
}

.me-6 {
    margin-right: 3rem;
}



.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 2rem;
}

.mb-6 {
    margin-bottom: 3rem;
}

.mb--7 {
    margin-bottom: -4rem;
}



.ms-0 {
    margin-left: 0;
}

.ms-1 {
    margin-left: .25rem;
}

.ms-2 {
    margin-left: .5rem;
}

.ms-3 {
    margin-left: 1rem;
}

.ms-4 {
    margin-left: 1.5rem;
}

.ms-5 {
    margin-left: 2rem;
}

.ms-6 {
    margin-left: 3rem;
}






.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}






.bs-dark {
    background-color: rgb(33,37,41);
}

.bs-primary {
    background-color: #0d6efd;
}

.bs-secondary {
    background-color: #6c757d;
}

.bs-light {
    background-color: #f8f9fa;
}

.white {
    background-color: #ffffff;
}

.readit-d {
    background-color: #323232;
}

.readit-d2 {
    background-color: #1e1e1e;
}

.readit-d-primary {
    background-color: #1eaad0;
}

.readit-d-secondary {
    background-color: #ff4500;
}

.readit-d-fg {
    background-color: #ebebeb;
}

.readit-l {
    background-color: #f5f5f5;
}

.readit-l2 {
    background-color: #fafafa;
}

.readit-l-primary {
    background-color: #106b9c;
}

.readit-l-secondary {
    background-color: #cb3700;
}

.readit-l-fg {
    background-color: #282828;
}

.icom-l {
    background-color: #f1f1f1;
}

.icom-primary {
    background-color: #6464ff;
}

.icom-secondary {
    background-color: #d69b00;
}

.icom-fg {
    background-color: rgb(45, 45, 45);
}

.black {
    background-color: black;
}

.black {
    background-color: black;
}

.phoenix-bg {
    background-color: rgb(31,31,31);
}

.phoenix-primary {
    background-color: #b10000;
}